rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Obrazy mogą być wyświetlane publicznie, ale przesyłanie i zmiany są tylko dla admina.
    match /{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
}
